/* ProfessorCard.css */

.professor-card-container {
    border: 1px solid #ddd; /* Lighter border */
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F7E7DC; /* Background color */
    color: #333; /* Dark text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  
  .professor-card-container:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    transform: scale(1.05); /* Slightly increase the size */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .professor-name {
    font-size: 1.5rem;
    color: #333; /* Dark text color */
  }
  
  .professor-department {
    color: #666; /* Medium gray text color */
    margin: 8px 0;
  }
  