/* ProfessorPage.css */
.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 100%;
    background-color: #FFF8F3;
  }
  
  .top-container {
    display: flex;
    flex-direction: row; /* Ensure items are in a row */
    justify-content: space-between; /* Distribute space between items */
    max-width: 1200px;
    gap: 100px; /* Space between professor-details and overall-score-container */
    flex-wrap: nowrap; /* Prevent wrapping of items */
  }
  
  .professor-details {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow to grow and fill space */
  }
  
  .overall-score-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow to grow and fill space */

  }
  
  .professor-name {
    font-size: 2rem;
    color: #333;
  }
  
  .professor-detail {
    font-size: 1.2rem;
    color: #666;
  }
  
  .media-query-styles {
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  
  .horizontal-line {
    width: 100%;
    max-width: 1200px;
    margin: 40px 0;
    border: 0;
    font-size: 30px;
    border-top: 4px solid #2d3436;
  }
  
  body.active-modal {
    overflow-y: hidden;
  }
  
  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }
  
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }
  .modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }