.rating {
  display: flex;
  direction: row-reverse;
  font-size: 30px; /* Adjust size as needed */
}

.star {
  color: #666; /* Default color for stars */
}

.half-star {
  position: relative;
  display: inline-block;
  width: 1em; /* Adjust to match star size */
  height: 1em; /* Ensure this matches the star size for correct overlay */
}

.half-star .star {
  position: relative;
  top: 0;
  left: 0;
}


.half-star-overlay {
  position: absolute;
  top: 30%;
  right: -15%; /* Aligns overlay to the right edge */
  width: 50%; /* Cover half of the star */
  height: 100%;
  background: #F7E7DC; /* Background to cover the half-star */
  z-index: 1;
  clip-path: inset(0 0 0 0); /* Ensures no extra space around the overlay */
}
